body{
    margin: 0;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
section{
    margin: 10px;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    background-color: #3d3b3b;
    padding: 10px;
}

header > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 40px;
    gap: 30px;
    width: 100%;
    margin-right: 40px;

}

header  ul > li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header  ul > li a:hover{
    text-decoration: underline;
}

#container-1{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 2px 2px 4px 2px #edebe8;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    border: 3px solid #e7e4e4;
}

#container-1:hover{
    border: 3px solid #ff7328;
}

.inter-child{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 2px 2px 4px 2px #edebe8;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #e7e4e4;
}

.inter-child > h2{
    color: #ff7442;
}

.inter-child:hover{
    background: #fc8e53;
    border: 2px solid #ff7328;
}

#container-2{
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 2px 2px 4px 2px #d0cdcd;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #241f1f;
    margin-top: 40px;
}

#container-2 > h2{
    color: black;
}

#container-2:hover{
    background-image: linear-gradient(to right, #e95d36, #f3aa6b);
    color: white;
    border: 2px solid #0c0b0b;
}

#container-3{
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 1px 1px 2px 1px #8b8a8a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

#container-3:hover{
    border: 2px solid #f55c16;
}


#container-4{
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 1px 1px 2px 1px #8b8a8a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    min-height: 30vh;
    display: flex;
    align-items: center;
}

form{
    width: 100%;
    padding: 10px;
}

label{
    font-weight: bold;
}

input{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    margin-top: 10px;
    font-size: 18px;
}


#container-4:hover{
    border: 2px solid #f55c16;
}

#submit{
    background-color: #0c0b0b;
    color: white;
    display: block;
    margin-left: 9px;
    padding: 4px;
    font-size: 16px;
}

#submit:hover{
    background-color: #e76017;
}

footer{
    text-align: center;
    color: white;
    background-color: #3d3b3b;
    padding: 20px;
    margin-top: auto;
}

footer:hover{
    border-top: 3px solid #e76017;
}